@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i%7CRakkas%27'); 

body{
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
}
.rejoinsLeCollectif {
  color: #fff;
  background-color: #414042;
  text-align: center;
}
.textRejoinsLeCollectif{
  font-family:'Rakkas';
  font-size: 1.2rem;
}

.textRejoinsLeCollectif:before{
  content:"";
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color:  #FF8470;
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

#navbarTogglerDemo02 li{
  display: inline;
}

.active{
  color: #ff8470;
}

.colorHeader{
  color:#939598;
}
.menuHeader:after{
  content: "|";
  padding-left: 10px;
  color:#939598;
}
.beforeReseautez:before{
  content: "|";
  padding-right: 10px;
  color:#939598;
}
.fas{
  color: #939598;
  font-size: 1.5rem;
}
#navbarDropdownMenuLink {
  color: #939598;
}
.navbar {
  padding: .1rem .1rem;
}
.logoFaceBook img {
  border-radius: 5px;
  margin-left: .5rem;
}

.navbar-brand{
  background-image: url(../front/logoFluid.svg);
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin-right: -2rem;
  transition: 0.5s;
}

.scrolled{
  height: 70px;
  transition: 1s;
}

#dropdownMenuUser{
  left: -10rem;
}

/* NAVBAR */

.search {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #939598;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
  }
  .search:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 20px;
    right: -5px;
    top: 15px;
    background: #939598;
    border-radius: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    transition: all 200ms ease;
  }
  .search.active,
  .search:hover {
    width: 200px;
    margin-right: 0px;
  }
  .search.active:after,
  .search:hover:after {
    height: 0px;
  }
  .search input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 12px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
    position: absolute;
    top: 0;
  }


/* FIN NAVBAR */

/* INDEX */

.carouselTextslide {
  font-family:Rakkas;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FF8470;
  text-align: center;
}
.carousel-control-prev-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa17f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; 
} 
.carousel-control-next-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa17f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; 
}

/* Index section événement */

h2, h3, h1 {
  font-family:'Rakkas';
  font-size: 2.5rem;
  font-weight: 700;
  color: #FF8470;
  text-align: left;
  padding-top: 3rem;
  margin-left: 17%;
}

/* .sectionEvenements{
  justify-content: center;
  margin: 0 auto;
  margin-right: 18%;

}
.evenements {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 260px; 
  margin: 0 auto;
  margin-bottom: 5%;

}

.logoExpo {
  display: flex;
  background-color: #0D01FF;
} 

.logoWorkshop {
  display: flex;
  background-color: #F79C82;
} */
.evenements{
  display: flex;
  justify-content: space-around;
}
.evenement{
  width: 500px;
  display: flex;
}

.evenement>img{
  height: 260px;
}

.eventExpo{
  background-color: #0D01FF;;
}
.eventWorkshop{
  background-color: #F79C82;;
}
.eventExcursion{
  background-color: #004F32;;
}
.eventEvent{
  background-color: #EF3E33;;
}

@media (max-width: 991.98px) { 
  .evenements{
    flex-direction: column;
    justify-content: center;
    text-align: -webkit-center;
  }

 }

/* index section partenaire */

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-carousel .my-card {
  height: 382px;
  width: 700px;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
}
.card-carousel .my-card img {
  width: 100%;
  height: 100%;
}
.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.3);
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.card-carousel .my-card:nth-child(0):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(3):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(4):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(5):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(6):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(7):before {
  content: '7';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(8):before {
  content: '8';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}
.card-carousel .my-card:nth-child(9):before {
  content: '9';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}
.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}

@media all and (max-width: 600px) {
iframe { 
    width: 100%;
 }
.card-carousel .my-card {
    height: 325px;
    width: 220px;
    }
}

/* index section instagram */

#load-more{
  font-family:Rakkas;
  font-size: 1.2rem;
  color:  #FF8470;
  cursor:pointer;
}

/* index section newsletter */

/*Newsletter and footer */
.newsletter{
  margin-top: 6.25rem;
  padding-top: 2rem;
  background: url(../front/imgNewsletter.jpg) no-repeat;
  background-size: cover;
  height: 55vh;
}
.btn-newsletter {
  margin-top: .5rem;
  background: #d7d7d7;
  background-image: -webkit-linear-gradient(top, #ffa17f, #E08370);
  background-image: -moz-linear-gradient(top, #ffa17f, #E08370);
  background-image: -ms-linear-gradient(top,  #ffa17f, #E08370);
  background-image: -o-linear-gradient(top,  #ffa17f, #E08370);
  background-image: linear-gradient(top,  #ffa17f, #E08370);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 12px;
  font-family:Nunito;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  padding: 1px 6px 1px 6px;
  text-decoration: none;
}
.btn-newsletter:hover {
  background: #8a8370;
  background-image: -webkit-linear-gradient(top, #8a8370, #8a8370);
  background-image: -moz-linear-gradient(top, #8a8370, #8a8370);
  background-image: -ms-linear-gradient(top, #8a8370, #8a8370);
  background-image: -o-linear-gradient(top, #8a8370, #8a8370);
  background-image: linear-gradient(top, #8a8370, #8a8370);
  text-decoration: none;
}
.tonmail {
  margin-top: .5rem;
  border-radius: 12px;
  text-align: center;
  margin-right: 1rem;
  font-family:Nunito;
  font-weight: 200;
  width : 20rem;
}
h5 {
  font-family:'Nunito';
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

/* index footer */

.footer {
  background-color: #414042;
  text-align: center;
  padding: 1rem 0 1rem 0;
  margin-top: 14rem;
}
.footer ul li {
  list-style: none; 
 justify-content: center;
 display: flex;
 display: inline;
}

.footer ul li a {
color: #ffffff;
}
.menuFooter{
  text-align: center;
}

.menuFooter:after{
  content: "|";
  padding-left: 10px;
}

.menuFooterBefore:before{
  padding-left: 10px;
  text-align: center;
}

/* PAGES EVENTS */

.paragraph{
  color: #ff8470;
  padding: 0;
}

.container-last-expo{
  background-color: #ff8470;
}
.event{
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex; /*  */
  
}

.imgExpo1{
  background-image: url(../front/expo/img_expo2.jpg);
  justify-content: center;
}

.imgExpo2{
  background-image: url(../front/expo/img_expo1.jpg);
  margin-left: 52%;
  margin-top: -10%;
  border-radius: 10%;
}

.imgExcu1{
  justify-content: center;
  background-image: url(../front/excu/img_excu1.jpg);
}

.imgExcu2{
  margin-left: 52%;
  margin-top: -10%;
  background-image: url(../front/excu/img_excu2.jpg);
}

.imgSoiree1{
  justify-content: center;
  background-image: url(../front/soiree/img_soiree1.jpg);
} 

.imgSoiree2{
  margin-left: 52%;
  margin-top: -10%;
  background-image: url(../front/soiree/img_soiree2.jpg);
}

.imgWork1{
  background-image: url(../front/workshop/img_work1.jpg);
  justify-content: center;
}

.imgWork2{
  background-image: url(../front/workshop/img_work2.jpg);
  margin-left: 52%;
  margin-top: -10%;
}

.header{
  background-color: #192CB0;
}

h3{
  margin: 3% 0;
}

.event-paragraph{
  width: 60%;
  align-self: center;
  color: #ff8470;
  font-weight: bold;
  margin-left: 25%;
}


@media (max-width: 576px){
  .imgExpo2 {
      margin: 0;
  }

  .event-paragraph{
    margin-left: 0;
  }
}

/* Evenements Passés */

.passedEvents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.passedEvent{
  display: flex;
  width: 46%;
  justify-content: flex-start;
  background-color: #ded6d630;
  margin-top: 2%;
}

.passedEvent>img{
  width: 225px;
  height: 100%;
}

.passedEvent>p{
  width: 50%;
  padding-left: 2%;
  color: #ff8470;
  font-weight: bold;
}

@media (max-width: 576px){
  .passedEvents {
      flex-direction: column;
  }

  .passedEvent{
    flex-direction: column;
  }
}


/* PAGE CONTACT */

#contactwrap {
  background-image: url(../front/imgForContact.jpg);
  background-color: #ff8470;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  background-size: 100%;
  background-size: cover;
}

#contactwrap h4 {
    font-weight: 400;
    color: #ffffff;
}

#contactwrap h1 {
    color:#fff;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: bold;
}

form button{
    background: #1abc9c;
    border: 0;
    padding: 14px 40px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

form button:hover{
    background: #2addb9;
}

#fh5co-intro{
    background-color: #2addb9;
}

/* ESPACE SHOP */

.img-shop{
  width: 320px;
}

.img-title{
  width: 320px;
  margin-bottom: 1rem;
}

/*************
**************
 ESPACE ADMIN
 ************* 
 *************/

.tabAdmin {
    color: #FFF;
}

.tabAdmin:hover {
    color: lightgrey;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.445);
}

.table{
  margin-top: 10rem;
}

.avatar {
  width:60px;
}

.avatar > img{
	width:50px;
	height:50px;
	border-radius:10%;
  }
  
.user-delete{
  background: transparent;
  padding: 0;
  margin: 0;
  color: red;
}

/* **************** 
********************/


  
  #wrapper {
    padding-left: 0;    
  }
  
  #page-wrapper {
    width: 100%;        
    padding: 0;
  }

  .collapse{
    visibility: visible;
  }

  
  
  /* Side Navigation */
  
  @media(min-width:768px) {
  
  #wrapper {
    padding-left: 225px;
  }
  
  #page-wrapper {
    padding: 2px 10px;
  }

  
  .side-nav {
    position: fixed;
    top: -21px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #313131;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    margin-top: 20px;
  }
  
  .side-nav>li>a {
    width: 225px;
    border-bottom: 1px solid #6C7278;
    margin-top: 15px;
  } 
  }
  
  .navbar-inverse .navbar-collapse, .navbar-inverse {
    border-color: #616060 !important;
  }
  
  .navbar-ex1-collapse{
    background-color: #fff;
  }
  
  .logostyle{
    width: 50%;
    max-width: 186px;
    margin-top: 10px;
    margin-left: 55px;
  }
  
  .navbar-inverse .navbar-nav > li > .active{
    border-left: 3px solid white;
  }
  
  .nav > li > a {
    position: relative;
    display: block;
    padding: 12px 15px;
    margin-right: 15px;
  }
  
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: white;
  }
  
  .fasett {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    text-rendering: auto;
    color: white;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
  }
  
  
  .editpro h5 {
    margin-right: 15px;
    margin-top: 15px;
    color: white;
  }
  
  /*navbar end*/
  @media screen and (max-device-width: 640px) { 
  
  .search-btn-icon{
    background-color: #fff;
    border:1px solid #E8E8E8;
    border-right: transparent !important; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 32px;
    margin-left: 115px;
  }
  
  .editpro h5 {
      margin-right: 12px;
      margin-top: 15px;
      color: white;
      margin-left: 158px;
  }
  
  .dashhead h1{
     margin-top: 180px;
  }
  }

  /*************** 
   ****************/

/* ESPACE MEMBRE */

#team {
  background: #FFF !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.btn-primary {
  color: #fff;
}

.toggle-on.btn {
  padding-right: 10px;
}

.btn.btn-primary.toggle-on{
  text-align: left;
  
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.cardMembre{
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}


.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}


.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.card {
  position: relative;
}